body{
    border-style: solid;
    border-color: #F5F5DC;
    border-width: 5px;
    background-color: skyblue;
}

.Div1 {
    padding: 10px 15px 10px;
    margin: auto;
}

.Div2 {
    padding: 10px 15px 10px;
    margin: auto;
}

.Div3 {
    padding: 10px 15px 10px;
    margin: auto;
}

h1{
	font-family: Bebas Neue;
	color: #000000;
    letter-spacing: 12px;
}

h3{
    font-family: Bebas Neue;
    color: #000000;
    letter-spacing: 12px;
}

ul{
   font-family: Arial;
   color: black;
   background-color: #F5F5DC;
   border-radius: 50px;
   border-style: ridge;
   border-width: 7px;
}

img{
    height:300px ;
    width: 400px;
    padding: 15px;
    border-radius: 50px;
    opacity: .75;
    border-style: dotted;
    border-color: #964B00;
}

img:hover{
    opacity: 1;
}
